[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    redefined-outer-name,
    too-many-locals,
    no-else-return,
    logging-fstring-interpolation,
    redefined-builtin,
    logging-not-lazy,
    dangerous-default-value,
    inconsistent-return-statements,
    missing-timeout,
    too-few-public-methods,
    invalid-name,
    raise-missing-from,
    consider-using-f-string,
    too-many-return-statements,
    R0801,
    line-too-long,
    no-member,
    R1733,
    unused-import,
    unused-variable,
    unused-argument,
    f-string-without-interpolation,
    unspecified-encoding,
    unexpected-keyword-arg,
    no-value-for-parameter,
    too-many-instance-attributes,
    too-many-arguments,
    unnecessary-pass,
    logging-too-many-args,
    no-else-break,
    deprecated-module,
